In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('weather_new.db')

conn.execute("DROP TABLE IF EXISTS Weather;")

create_table_query = """
CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
);
"""
conn.execute(create_table_query)

insert_data_query = """
INSERT INTO Weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);
"""
conn.execute(insert_data_query)
conn.commit()

sql_query = """
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON DATE(w1.recordDate, '-1 day') = w2.recordDate
WHERE w1.temperature > w2.temperature;
"""

higher_temps = pd.read_sql_query(sql_query, conn)
conn.close()

higher_temps

   id
0   2
1   4